html {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: monospace, ui-monospace;
    max-width: 150ch;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    min-height: 1.5em;
}

p:has(a) {
    min-height: max(48px, 1.5em);
}